body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    /* height: 100vh; */
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.login-form {
    border-radius: 30px;
    padding: 5vh;
}

.login-sec {
    height: 100vh;
}



.login-div-form {
    padding: 6vh;
    margin-top: 18vh;
}




img {
    width: 80vh;
    border-radius: 20px;
}

.form-text {
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
    font-size: 25px;
}

@media only screen and (max-width: 787px) {
    .login-div-form {
        padding: 0vh;
        padding-top: 2vh;
        margin: 7vh 4vh 0vh 4vh;
    }
}